<p fundoAmarelo>
  Texto com fundo amarelo
</p>

<button fundoAmarelo>Botão com fundo amarelo</button>

<p appHighlightMouse>
  Texto com highlight quando passo o mouse.
</p>

<p appHighlight [defaultColor]="'grey'" [highlightColor]="'red'">
  Texto com highlight com cores customizadas.
</p>

<h5>Diretiva Estrutura customizada - ngElse</h5>
<div *ngIf="mostrarCursos">
  Lista de cursos aqui
</div>

<div *ngElse="mostrarCursos">
  Não existem cursos para serem lisados
</div>
<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>